<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BTHistoryReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <BTHistoryReader.Properties.Settings>
            <setting name="TypeCVS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecLimit" serializeAs="String">
                <value>40000</value>
            </setting>
            <setting name="UseLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFiles" serializeAs="String">
                <value>empty</value>
            </setting>
        </BTHistoryReader.Properties.Settings>
    </userSettings>
</configuration>
